body {
	width: 700px;
	margin: 10px auto 10px auto;
	border: 1px solid #cccccc;
	/* box-shadow: 6px 6px 3px #888888; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
	margin: 10px;
	/* border-bottom: 4px solid #cccccc; */
	text-align: center;
}

header a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 45px;
	text-align: center;
	text-shadow: 10px 10px 100px #bd0619;
	text-decoration: none;
	color: #c5000b;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000000;
	-webkit-transition: all 1s ease-in-out;
}

header a:hover {
	color: #ffffff;
	text-shadow: 10px 10px 100px #6d1900;
	-webkit-text-stroke-color: #bd0619;
}

#about {
	margin: 10px 0 20px 0;
	text-align: center;
}

#about p {
	font-family: cursive;
	font
}

#about table {
	border-top: 1px solid #cccccc;
	margin-top: -10px;
	font-size: .6em;
	font-family:'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

#picture {
	margin: 10px;
}

.noShowNada {
	display: none;
	background-color: #ff7e89;
}

.image-cropper {
  	position: relative;
  	width: 678px;
  	height: 200px;
  	overflow: hidden;
	border-top: 4px solid #bd0619;
	border-bottom: 4px solid #bd0619;
}

.image-cropper:hover {
	/* border: 1px solid #bd0619; */
}

.centered {
  position: absolute;
  width: 700px;
  left: 0px;
  top: -40%;
  -webkit-transition: all 2s ease-in-out;
}

.centered:hover {
	/*opacity: 0.8;
    filter: alpha(opacity=40); */

    transform: translate(0,-150px);
    -webkit-transform: translate(0,-150px);
    -o-transform: translate(0,-150px); 
    -moz-transform: translate(0,-150px);
}

#ingredients {
	width: 200px;
	float: left;
	margin: 0 40px 10px 10px;
	vertical-align: top;
	font-family:'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
	font-size: .8em;
}

ul {
	margin-top: 0;
}

li {
	list-style: none;
	margin-left: -23px;
	cursor: pointer;
}

.check {
	list-style-image: url('http://www.pic2shop.com/images/pro_version_key.png');
  }

 .follow {
  	background: #ff7e89; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #ff7e89 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff7e89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff7e89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff7e89 , white); /* Standard syntax (must be last) */
  }

#directions {
	float: left;
	width: 420px;
	margin: 0 10px 10px 10px;
	font-family:'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
	font-size: .8em;
}

#directions p {
	margin-top: 0;
	margin-bottom: 2px;
}

.howTo {
	cursor: pointer;
}

#reviews {
	clear: both;
	margin: 10px;
}

.feedback {
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: 10px;
	margin-top: 5px;
	text-align: left;
	font-size: .7em;
}

.photo {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid #888888;
}

footer {
	margin: 0;
		border-top: 1px dashed #cccccc;
}

footer h2 {
	font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
	font-style: italic;
	font-size: 30px;
	margin-top: 30px;
	text-shadow: 3px 3px #cccccc;
}

footer h2:hover {
	font-style: normal;
	text-shadow: 3px 3px #cccccc;
}